/* Wien mobile Beispiel */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9f7f3;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-position: center;
    opacity: 1;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
    padding: 1px;
    background-color: #ffffff;
}

header nav {
    font-size: 0.9em;
    font-weight: bold;
}

header nav a {
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #555555;
    color: #ffffff;
}

header nav a:hover {
    background-color: #777777;
}

article {
    margin-top: 0.5em;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

#pulldown {
    position: relative;
}

#pulldown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pulldown ul li {
    display: inline-block;
}

#pulldown ul li a {
    display: block;
    padding: 10px 20px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


#pulldown ul li a:hover {
    background-color: #e5e5e5;
}

#map {
    height: 85vh;
    width: 100%;
    border: 1px solid gray;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer nav {
    display: inline-block;
    margin: 0 10px;
}

/*position: absolute lässt Dropdown überlappen */
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: white;
}